<p id="notice"><%= notice %></p>

<h1>Requests</h1>
<div id="form"></div>
<%= link_to 'Request Book', new_request_path, class:'btn btn-danger',remote:true %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="data">
   <%= render('requests/data') %>
  </tbody>
</table>

<br>


