<div id="msg"></div>
<div id="form"></div>
<td><%= link_to "Buy",buy_path, remote: true ,class:'btn btn-success mb-2'%> </td>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">IdReserve</th>
      <th scope="col">IdBooks</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
  <tbody id="data">
    <%= render('books/data') %>
  </tbody>
  </tbody>
</table>